<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutorv3">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- - para usar la camara desde la App -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- escribir en memoria para guardar las fotos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ListaArchivos"></activity>
        <activity android:name=".Archivos"
            android:exported="true" >

        </activity>
        <activity android:name=".Contenedor" />
        <activity android:name=".ListaAlumnos" />
        <activity android:name=".Logingoogle" />
        <activity android:name=".Mensaje" />
        <activity android:name=".Alumnos" />
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CambiarAlumno" />
        <activity android:name=".RegistroProfesores" />
        <activity
            android:name=".Iniciootro"
            android:label="@string/title_activity_iniciootro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.Buscar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin.AgregarAlumo" />
        <activity
            android:name=".Admin.AgregarCurso"
            android:label="@string/title_activity_agregar_curso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.Gestion"
            android:label="@string/title_activity_gestion" />
        <activity android:name=".Admin.Login" />
        <activity android:name=".MainActivity" />

        <receiver
            android:name="ClasesAdmin.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>